node-red-flow/météo-node-red-flow.txt
[
    {
        "id": "34c9abde.736dac",
        "type": "tab",
        "label": "Météo"
    },
    {
        "id": "f7e6472b.b7726",
        "type": "openweathermap in",
        "z": "34c9abde.736dac",
        "name": "",
        "lon": "",
        "lat": "",
        "city": "Saint-Contest",
        "country": "FR",
        "language": "fr",
        "x": 125.5,
        "y": 192.33999633789062,
        "wires": [
            [
                "c8c8bf3c.80812",
                "671829b6.58ed58",
                "b97cbdd4.ed1848",
                "8e5120ae.844bb",
                "e132f179.f49238",
                "272a8713.e25758",
                "d5117bbd.cd3208",
                "a07b81ab.cd9558",
                "b5571f14.c88c7",
                "ea91df06.f24b88",
                "9f9b3f43.ade808",
                "120f679.8555b98",
                "b49eddbc.25141",
                "bf0cf3a3.4fa5b8"
            ]
        ]
    },
    {
        "id": "c8c8bf3c.80812",
        "type": "debug",
        "z": "34c9abde.736dac",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 402.5,
        "y": 92.03999328613281,
        "wires": []
    },
    {
        "id": "671829b6.58ed58",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "T-ext",
        "func": "msg.payload = msg.payload.tempc;\n    node.status({text:msg.payload});\n//return {payload:msg.payload.tempc};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 377.5,
        "y": 208.05999755859375,
        "wires": [
            [
                "fdf9aabf.40df3"
            ]
        ]
    },
    {
        "id": "fdf9aabf.40df3",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 2,
        "width": "",
        "height": "",
        "name": "Température extérieure",
        "label": "Température extérieure",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 607.5,
        "y": 207.29998779296875,
        "wires": []
    },
    {
        "id": "b97cbdd4.ed1848",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "T-max",
        "func": "kelvin=msg.payload.maxtemp;\ntemperature = parseFloat(kelvin) - 273,15;\ntemperature=temperature.toPrecision(3)\nmsg.payload=temperature;\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 378,
        "y": 261,
        "wires": [
            [
                "1bedf80a.79b568"
            ]
        ]
    },
    {
        "id": "1bedf80a.79b568",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 4,
        "width": "",
        "height": "",
        "name": "Température max",
        "label": "Température max",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 583,
        "y": 261.239990234375,
        "wires": []
    },
    {
        "id": "8e5120ae.844bb",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "T-min",
        "func": "\nkelvin=msg.payload.mintemp;\n\n// ° F = 9/5(° K - 273) + 32\n// ° C = 9/5(° K - 273)\n//temperature = (parseFloat(kelvin) - 273,15);\n//temperature = 9*(parseFloat(kelvin) - 273)/5;\n//temperature = 9*parseFloat(kelvin - 273)/5;\ntemperature = parseFloat(kelvin - 273);\n//temperature = parseInt(kelvin);\ntemperature=temperature.toPrecision(3);\nmsg.payload=temperature;\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 318,
        "wires": [
            [
                "74885eee.dbd5e8"
            ]
        ]
    },
    {
        "id": "74885eee.dbd5e8",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 3,
        "width": "",
        "height": "",
        "name": "Température min",
        "label": "Température min",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 579,
        "y": 317.239990234375,
        "wires": []
    },
    {
        "id": "ba95f3fa.37c768",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 1,
        "width": "",
        "height": "",
        "name": "Mise à jour",
        "label": "Mise à jour",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 570,
        "y": 154,
        "wires": []
    },
    {
        "id": "e132f179.f49238",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "Date",
        "func": "MaDate = new Date();\ndateString = MaDate.toString();\ntimeString = dateString.substring( 16 , 21 );\ndayString = dateString.substring( 8 , 11 );\nmonthString = dateString.substring( 4 , 8 );\n//msg.payload = timeString\nmsg.payload = dayString + monthString + timeString\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 379,
        "y": 153.00001525878906,
        "wires": [
            [
                "ba95f3fa.37c768",
                "ea6b897.8095978"
            ]
        ]
    },
    {
        "id": "272a8713.e25758",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "Force-Vent",
        "func": "vent = msg.payload.windspeed;\nforcevent = (parseFloat(vent) * 3.6);\nforcevent=forcevent.toPrecision(2);\nmsg.payload = forcevent + \"km/h\";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 392,
        "y": 386,
        "wires": [
            [
                "82f440de.905fb"
            ]
        ]
    },
    {
        "id": "82f440de.905fb",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 5,
        "width": "",
        "height": "",
        "name": "Force du vent",
        "label": "Force du vent",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 569,
        "y": 385.239990234375,
        "wires": []
    },
    {
        "id": "d5117bbd.cd3208",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "Lever-soleil",
        "func": "var sec = msg.payload.sunrise;\nvar date = new Date(sec * 1000);\nMaDate = date.toLocaleTimeString();\ndateString = MaDate.toString();\ntimeString = MaDate.substring( 0 , 5 );\nmsg.payload = timeString\n    node.status({text:msg.payload});\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 388,
        "y": 450,
        "wires": [
            []
        ]
    },
    {
        "id": "42e1c94a.04ab9",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 6,
        "width": "",
        "height": "",
        "name": "Lever du soleil",
        "label": "Lever du soleil",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 566,
        "y": 450.239990234375,
        "wires": []
    },
    {
        "id": "ea6b897.8095978",
        "type": "debug",
        "z": "34c9abde.736dac",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 684.5,
        "y": 68,
        "wires": []
    },
    {
        "id": "8fed221.821266",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 9,
        "width": "",
        "height": "",
        "name": "Qualité de l'air",
        "label": "Qualité de l'air",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 880,
        "y": 759.239990234375,
        "wires": []
    },
    {
        "id": "a07b81ab.cd9558",
        "type": "file in",
        "z": "34c9abde.736dac",
        "name": "sortie.xml",
        "filename": "/var/www/html/air/sortie.txt",
        "format": "utf8",
        "x": 281.5,
        "y": 748,
        "wires": [
            [
                "468257bc.861c18",
                "c0fea6a8.301618"
            ]
        ]
    },
    {
        "id": "468257bc.861c18",
        "type": "debug",
        "z": "34c9abde.736dac",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "filename",
        "x": 426,
        "y": 833,
        "wires": []
    },
    {
        "id": "c0fea6a8.301618",
        "type": "switch",
        "z": "34c9abde.736dac",
        "name": "Select air quality",
        "property": "payload",
        "rules": [
            {
                "t": "btwn",
                "v": 0,
                "v2": 4
            },
            {
                "t": "btwn",
                "v": 5,
                "v2": 7
            },
            {
                "t": "btwn",
                "v": 8,
                "v2": 10
            }
        ],
        "checkall": "true",
        "outputs": 3,
        "x": 480,
        "y": 747,
        "wires": [
            [
                "bb3b57ff.586d58"
            ],
            [
                "98b757c4.07af28"
            ],
            [
                "33f290a2.7f7dc8"
            ]
        ]
    },
    {
        "id": "98b757c4.07af28",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "Add warning",
        "func": "msg.payload =  msg.payload + \"(Air pollué)\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 675.77783203125,
        "y": 759.111083984375,
        "wires": [
            [
                "8fed221.821266"
            ]
        ]
    },
    {
        "id": "33f290a2.7f7dc8",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "Add danger",
        "func": "msg.payload = msg.payload + \"(Air très pollué)\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 673,
        "y": 799.111083984375,
        "wires": [
            [
                "8fed221.821266"
            ]
        ]
    },
    {
        "id": "bb3b57ff.586d58",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "Add ok",
        "func": "msg.payload = msg.payload + \" (Air correct)\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670.5555419921875,
        "y": 720.7777099609375,
        "wires": [
            [
                "8fed221.821266"
            ]
        ]
    },
    {
        "id": "b5571f14.c88c7",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "Couché-soleil",
        "func": "var sec = msg.payload.sunset;\nvar date = new Date(sec * 1000);\n\nMaDate = date.toLocaleTimeString();\ndateString = MaDate.toString();\ntimeString = MaDate.substring( 0 , 5 );\nmsg.payload = timeString\n    node.status({text:msg.payload});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 393,
        "y": 556,
        "wires": [
            []
        ]
    },
    {
        "id": "fa7bbb15.20c8f",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 7,
        "width": "",
        "height": "",
        "name": "Coucher du soleil",
        "label": "Coucher du soleil",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 589,
        "y": 565,
        "wires": []
    },
    {
        "id": "bdc34ba8.96ed48",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "context.global.AirTemp",
        "func": "context.global.AirTemp = msg.payload.tempc;\nmsg.payload = context.global.AirTemp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 655.0000610351562,
        "y": 1280,
        "wires": [
            [
                "a5fa86d4.8b48b"
            ]
        ]
    },
    {
        "id": "37660954.4234be",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "context.global.humid",
        "func": "context.global.humid = parseFloat(msg.payload.humidity);\nmsg.payload = context.global.humid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 631.7778549194336,
        "y": 1313.7778706550598,
        "wires": [
            [
                "959d17cc.2e718"
            ]
        ]
    },
    {
        "id": "a5fa86d4.8b48b",
        "type": "debug",
        "z": "34c9abde.736dac",
        "name": "temp",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 857.5556869506836,
        "y": 1280.2222065925598,
        "wires": []
    },
    {
        "id": "959d17cc.2e718",
        "type": "debug",
        "z": "34c9abde.736dac",
        "name": "humid",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 855.8889656066895,
        "y": 1311.222210407257,
        "wires": []
    },
    {
        "id": "78df154f.3dd18c",
        "type": "inject",
        "z": "34c9abde.736dac",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "600",
        "crontab": "",
        "once": false,
        "x": 140.11116790771484,
        "y": 1183.0000386238098,
        "wires": [
            [
                "5201c8.8c809e38"
            ]
        ]
    },
    {
        "id": "5201c8.8c809e38",
        "type": "wunderground",
        "z": "34c9abde.736dac",
        "name": "",
        "lon": "-0.400256",
        "lat": "49.213999",
        "city": "",
        "country": "",
        "x": 396.2223129272461,
        "y": 1180.6667256355286,
        "wires": [
            [
                "bdc34ba8.96ed48",
                "37660954.4234be",
                "e0b50f7d.1a5f7"
            ]
        ]
    },
    {
        "id": "e0b50f7d.1a5f7",
        "type": "debug",
        "z": "34c9abde.736dac",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 648,
        "y": 1176,
        "wires": []
    },
    {
        "id": "e8d58e25.a6a2e8",
        "type": "comment",
        "z": "34c9abde.736dac",
        "name": "Rain Forecaster",
        "info": "",
        "x": 108,
        "y": 1340,
        "wires": []
    },
    {
        "id": "6d8645d4.cb13e4",
        "type": "forecastio in",
        "z": "34c9abde.736dac",
        "forecastio": "",
        "name": "",
        "key": "",
        "lon": "-0.400256",
        "lat": "49.213999",
        "date": "",
        "time": "",
        "units": "auto",
        "x": 109,
        "y": 1441,
        "wires": [
            [
                "b99f3f77.2c255",
                "3fed0258.3b8d36",
                "37c8ff23.94eef"
            ]
        ]
    },
    {
        "id": "b99f3f77.2c255",
        "type": "debug",
        "z": "34c9abde.736dac",
        "name": "",
        "active": true,
        "complete": "false",
        "x": 242,
        "y": 1504,
        "wires": []
    },
    {
        "id": "3fed0258.3b8d36",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "Temp Max demain",
        "func": "maxt=msg.payload.maxtemp;\ntemperature=maxt.toPrecision(3)\nmsg.payload=temperature;\n    node.status({text:msg.payload});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 602,
        "y": 1444,
        "wires": [
            [
                "4d1257b6.5517e",
                "a3b0bf8d.47a5a8"
            ]
        ]
    },
    {
        "id": "4d1257b6.5517e",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 13,
        "width": "",
        "height": "",
        "name": "Temp max demain",
        "label": "Température max demain",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 821,
        "y": 1445,
        "wires": []
    },
    {
        "id": "37c8ff23.94eef",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "Temp Min demain",
        "func": "mint=msg.payload.mintemp;\ntemperature=mint.toPrecision(3)\nmsg.payload=temperature;\n    node.status({text:msg.payload});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 601,
        "y": 1496,
        "wires": [
            [
                "8e3f4283.e9246"
            ]
        ]
    },
    {
        "id": "8e3f4283.e9246",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 12,
        "width": "",
        "height": "",
        "name": "Temp min demain",
        "label": "Température min demain",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 815,
        "y": 1495,
        "wires": []
    },
    {
        "id": "a3b0bf8d.47a5a8",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "_________ Prévisions météo _________",
        "format": "",
        "layout": "row-spread",
        "x": 894,
        "y": 1391,
        "wires": []
    },
    {
        "id": "4745f93f.9ad57",
        "type": "debug",
        "z": "34c9abde.736dac",
        "name": "",
        "active": true,
        "complete": "false",
        "x": 691,
        "y": 983,
        "wires": []
    },
    {
        "id": "ea91df06.f24b88",
        "type": "http request",
        "z": "34c9abde.736dac",
        "name": "HTTP vigilance",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.1.40:81/vigilance/14/all",
        "tls": "",
        "x": 209,
        "y": 927,
        "wires": [
            [
                "fbd8ba1.2922348"
            ]
        ]
    },
    {
        "id": "56cdccd.e1221b4",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "Vigilance",
        "func": "msg.payload = msg.payload.vigilancerisk;\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 929,
        "wires": [
            [
                "4745f93f.9ad57",
                "7d66ca25.889c2c"
            ]
        ]
    },
    {
        "id": "7d66ca25.889c2c",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 10,
        "width": "",
        "height": "",
        "name": "Vigilance météo",
        "label": "Vigilance météo",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 850,
        "y": 930,
        "wires": []
    },
    {
        "id": "fbd8ba1.2922348",
        "type": "json",
        "z": "34c9abde.736dac",
        "name": "",
        "x": 381,
        "y": 928,
        "wires": [
            [
                "56cdccd.e1221b4"
            ]
        ]
    },
    {
        "id": "9f9b3f43.ade808",
        "type": "http request",
        "z": "34c9abde.736dac",
        "name": "HTTP sunset",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.1.40:81/sun/saint-contest/sunset/now",
        "tls": "",
        "x": 377,
        "y": 606,
        "wires": [
            [
                "fa7bbb15.20c8f"
            ]
        ]
    },
    {
        "id": "bf0cf3a3.4fa5b8",
        "type": "http request",
        "z": "34c9abde.736dac",
        "name": "HTTP sunrise",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.1.40:81/sun/saint-contest/sunrise/now",
        "tls": "",
        "x": 394,
        "y": 504,
        "wires": [
            [
                "42e1c94a.04ab9"
            ]
        ]
    },
    {
        "id": "120f679.8555b98",
        "type": "http request",
        "z": "34c9abde.736dac",
        "name": "HTTP dayduration",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.1.40:81/sun/saint-contest/dayduration/now",
        "tls": "",
        "x": 398,
        "y": 655,
        "wires": [
            [
                "73487c37.691b84"
            ]
        ]
    },
    {
        "id": "73487c37.691b84",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 8,
        "width": "",
        "height": "",
        "name": "Duréee de la journée",
        "label": "Duréee de la journée",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 605,
        "y": 655,
        "wires": []
    },
    {
        "id": "b49eddbc.25141",
        "type": "http request",
        "z": "34c9abde.736dac",
        "name": "HTTP précipitation",
        "method": "GET",
        "ret": "txt",
        "url": "http://www.meteofrance.com/mf3-rpc-portlet/rest/pluie/145660",
        "tls": "",
        "x": 210,
        "y": 1032,
        "wires": [
            [
                "d9244f97.f4eb48",
                "aeecc322.00db48"
            ]
        ]
    },
    {
        "id": "5e40100c.51fbb8",
        "type": "debug",
        "z": "34c9abde.736dac",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 767,
        "y": 1088,
        "wires": []
    },
    {
        "id": "901bd5a4.d112e8",
        "type": "ui_text",
        "z": "34c9abde.736dac",
        "group": "8c0ddcc9.e4ebb",
        "order": 14,
        "width": "",
        "height": "",
        "name": "Pluie dans l'heure",
        "label": "Pluie dans l'heure",
        "format": "{{msg.payload}}",
        "layout": "",
        "x": 854,
        "y": 1036,
        "wires": []
    },
    {
        "id": "2cfc8c4d.8018dc",
        "type": "function",
        "z": "34c9abde.736dac",
        "name": "Précipitation",
        "func": "//msg.payload = msg.payload.niveauPluieText;\npluie = msg.payload.niveauPluieText;\n\n//pluie = JSON.stringify(pluie).replace( /\\[/g , '');\npluie = JSON.stringify(pluie).replace( /Pas de précipitations/g , 'Sec');\n//pluie = JSON.stringify(pluie).replace( '^[' , '');\n//pluie = JSON.stringify(pluie).replace( /]$/ , '');\n//pluie = JSON.stringify(pluie).replace( /De/g , '');\nmsg.payload = pluie;\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 592,
        "y": 1033,
        "wires": [
            [
                "5e40100c.51fbb8",
                "901bd5a4.d112e8"
            ]
        ]
    },
    {
        "id": "aeecc322.00db48",
        "type": "json",
        "z": "34c9abde.736dac",
        "name": "",
        "x": 406,
        "y": 1031,
        "wires": [
            [
                "2cfc8c4d.8018dc"
            ]
        ]
    },
    {
        "id": "d9244f97.f4eb48",
        "type": "debug",
        "z": "34c9abde.736dac",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 352,
        "y": 1090,
        "wires": []
    },
    {
        "id": "8c0ddcc9.e4ebb",
        "type": "ui_group",
        "z": "34c9abde.736dac",
        "name": "Météo",
        "tab": "a7cae6ec.f5262",
        "disp": true,
        "width": "6"
    },
    {
        "id": "a7cae6ec.f5262",
        "type": "ui_tab",
        "z": "34c9abde.736dac",
        "name": "Météo",
        "icon": "dashboard",
        "order": 3
    }
]