node-red-flow/node-red-volet-flow.txt
[
    {
        "id": "c7bd966b.a1c858",
        "type": "tab",
        "label": "Volets"
    },
    {
        "id": "a5ef4088.66d51",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 627,
        "y": 133,
        "wires": []
    },
    {
        "id": "ca3895dd.9e4bc8",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "VR Cuisine est",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"05050201 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 364,
        "y": 156,
        "wires": [
            [
                "a5ef4088.66d51",
                "c00a2150.87235"
            ]
        ]
    },
    {
        "id": "6100cb82.da3fd4",
        "type": "bigtimer",
        "z": "c7bd966b.a1c858",
        "outtopic": "",
        "outpayload1": "up",
        "outpayload2": "down",
        "name": "Volets up & down week hivers",
        "lat": "49.213999",
        "lon": "-0.400256",
        "starttime": "5003",
        "endtime": "5004",
        "startoff": "-15",
        "endoff": "+30",
        "offs": 0,
        "outtext1": "up",
        "outtext2": "down",
        "timeout": 1440,
        "sun": false,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": false,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "x": 353,
        "y": 1399.5,
        "wires": [
            [
                "a89aa323.55daf8",
                "e4ec5fb6.915e78",
                "5d9fae1d.8f0c4"
            ],
            [],
            []
        ]
    },
    {
        "id": "a89aa323.55daf8",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1231,
        "y": 1820,
        "wires": []
    },
    {
        "id": "a249edf.1bf361",
        "type": "inject",
        "z": "c7bd966b.a1c858",
        "name": "Up",
        "topic": "on",
        "payload": "on",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 97,
        "y": 1493,
        "wires": [
            [
                "6100cb82.da3fd4",
                "81fc056f.0611a8",
                "fc431aa7.43891",
                "385a22b1.6149f6"
            ]
        ]
    },
    {
        "id": "f0395b57.919868",
        "type": "inject",
        "z": "c7bd966b.a1c858",
        "name": "Down",
        "topic": "off",
        "payload": "off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 95,
        "y": 1534,
        "wires": [
            [
                "6100cb82.da3fd4",
                "81fc056f.0611a8",
                "fc431aa7.43891",
                "385a22b1.6149f6"
            ]
        ]
    },
    {
        "id": "5840f1e2.3d21d8",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/cuisine/est",
        "topic": "/Volet/cuisine/est",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1063,
        "y": 1450,
        "wires": []
    },
    {
        "id": "23ff5525.f9a27a",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/cuisine/est",
        "info": "",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "fccde5ba.29c43",
        "type": "inject",
        "z": "c7bd966b.a1c858",
        "name": "Auto",
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 94,
        "y": 1571,
        "wires": [
            [
                "6100cb82.da3fd4",
                "81fc056f.0611a8",
                "fc431aa7.43891",
                "385a22b1.6149f6"
            ]
        ]
    },
    {
        "id": "3d878d50.383d0a",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/cuisine/est",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 87,
        "y": 156,
        "wires": [
            [
                "ca3895dd.9e4bc8"
            ]
        ]
    },
    {
        "id": "5d9fae1d.8f0c4",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "topic",
        "x": 1229,
        "y": 1760,
        "wires": []
    },
    {
        "id": "b2d7c800.eff538",
        "type": "bigtimer",
        "z": "c7bd966b.a1c858",
        "outtopic": "",
        "outpayload1": "up",
        "outpayload2": "",
        "name": "Volets up only week hivers",
        "lat": "49.213999",
        "lon": "-0.400256",
        "starttime": "5003",
        "endtime": "5004",
        "startoff": "-15",
        "endoff": "+30",
        "offs": 0,
        "outtext1": "up",
        "outtext2": "",
        "timeout": 1440,
        "sun": false,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": false,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "x": 361,
        "y": 1837,
        "wires": [
            [
                "a89aa323.55daf8",
                "558f55c4.d2578c",
                "eb2643e4.956f58"
            ],
            [],
            []
        ]
    },
    {
        "id": "61983f93.f08598",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 628,
        "y": 38,
        "wires": []
    },
    {
        "id": "b13d9c8e.4786",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "VR Cuisine nord",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"05050101 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 366,
        "y": 57,
        "wires": [
            [
                "61983f93.f08598",
                "915ecee0.01a39"
            ]
        ]
    },
    {
        "id": "20f474cb.2e6c14",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/cuisine/nord",
        "info": "",
        "x": 105,
        "y": 23,
        "wires": []
    },
    {
        "id": "e7469083.d2de6",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/cuisine/nord",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 105,
        "y": 57,
        "wires": [
            [
                "b13d9c8e.4786"
            ]
        ]
    },
    {
        "id": "52682426.b3f31c",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/cuisine/nord",
        "topic": "/Volet/cuisine/nord",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1067,
        "y": 1393,
        "wires": []
    },
    {
        "id": "ab62d1f4.da1ff",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 625,
        "y": 229,
        "wires": []
    },
    {
        "id": "6ac47771.3ff758",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "VR Cuisine sud",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"05050301 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 364,
        "y": 249,
        "wires": [
            [
                "ab62d1f4.da1ff",
                "bf88f5b4.a80d88"
            ]
        ]
    },
    {
        "id": "b56cf4b1.8867a8",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/cuisine/sud (baie vitrée)",
        "info": "",
        "x": 127,
        "y": 213,
        "wires": []
    },
    {
        "id": "3a9b189.13c1ee8",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/cuisine/sud",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 87,
        "y": 248,
        "wires": [
            [
                "6ac47771.3ff758"
            ]
        ]
    },
    {
        "id": "a8a1cc1d.c44808",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/cuisine/sud",
        "topic": "/Volet/cuisine/sud",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1019,
        "y": 1910,
        "wires": []
    },
    {
        "id": "60692841.4e378",
        "type": "bigtimer",
        "z": "c7bd966b.a1c858",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "down",
        "name": "Volets down only été",
        "lat": "49.213999",
        "lon": "-0.400256",
        "starttime": "5003",
        "endtime": "5004",
        "startoff": "-15",
        "endoff": "+30",
        "offs": 0,
        "outtext1": "",
        "outtext2": "down",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "x": 320,
        "y": 2278,
        "wires": [
            [
                "a89aa323.55daf8",
                "5d9fae1d.8f0c4",
                "e2c7a77f.d6069"
            ],
            [],
            []
        ]
    },
    {
        "id": "a80492bc.ebc328",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/veranda/sud2",
        "topic": "/Volet/veranda/sud2",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1066,
        "y": 1512,
        "wires": []
    },
    {
        "id": "68d7f622.c177d8",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/veranda/est1",
        "topic": "/Volet/veranda/est1",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1055,
        "y": 1563,
        "wires": []
    },
    {
        "id": "32d9fd8f.f9013a",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/salledebain/nord",
        "topic": "/Volet/salledebain/nord",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1074,
        "y": 1616,
        "wires": []
    },
    {
        "id": "da84f53b.558c7",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/veranda/sud1",
        "topic": "/Volet/veranda/sud1",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1027,
        "y": 1964,
        "wires": []
    },
    {
        "id": "a0e173c1.062308",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/veranda/est2",
        "topic": "/Volet/veranda/est2",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1014,
        "y": 2011,
        "wires": []
    },
    {
        "id": "688c34b0.b812e4",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreParents/nord",
        "topic": "/Volet/chambreParents/nord",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1053,
        "y": 2174,
        "wires": []
    },
    {
        "id": "a886ac34.e5063",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreSarah/nord",
        "topic": "/Volet/chambreSarah/nord",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1050,
        "y": 2225,
        "wires": []
    },
    {
        "id": "370a6c70.804864",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreSarah/est1",
        "topic": "/Volet/chambreSarah/est1",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1040,
        "y": 2276,
        "wires": []
    },
    {
        "id": "a5d74d14.deaf88",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreSarah/est2",
        "topic": "/Volet/chambreSarah/est2",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1034,
        "y": 2332,
        "wires": []
    },
    {
        "id": "45dc02fc.6d721c",
        "type": "mqtt out",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreAnais/sud",
        "topic": "/Volet/chambreAnais/sud",
        "qos": "",
        "retain": "",
        "broker": "c5b413e5.8732c",
        "x": 1037,
        "y": 2389,
        "wires": []
    },
    {
        "id": "20c0b777.b2463",
        "type": "inject",
        "z": "c7bd966b.a1c858",
        "name": "Up",
        "topic": "on",
        "payload": "on",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 85,
        "y": 2276,
        "wires": [
            [
                "60692841.4e378",
                "10eee764.a10a41"
            ]
        ]
    },
    {
        "id": "5c2b2767.71a428",
        "type": "inject",
        "z": "c7bd966b.a1c858",
        "name": "Down",
        "topic": "off",
        "payload": "off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 84,
        "y": 2317,
        "wires": [
            [
                "60692841.4e378",
                "10eee764.a10a41"
            ]
        ]
    },
    {
        "id": "73d65f1f.93a358",
        "type": "inject",
        "z": "c7bd966b.a1c858",
        "name": "Up",
        "topic": "on",
        "payload": "on",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 93,
        "y": 1928,
        "wires": [
            [
                "b2d7c800.eff538",
                "5e57d580.4007d4",
                "cead4328.7819b",
                "952f184a.4bada"
            ]
        ]
    },
    {
        "id": "68b88a37.7efe8c",
        "type": "inject",
        "z": "c7bd966b.a1c858",
        "name": "Down",
        "topic": "off",
        "payload": "off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 90,
        "y": 1968,
        "wires": [
            [
                "b2d7c800.eff538",
                "5e57d580.4007d4",
                "cead4328.7819b",
                "952f184a.4bada"
            ]
        ]
    },
    {
        "id": "8614fbae.5ae71",
        "type": "inject",
        "z": "c7bd966b.a1c858",
        "name": "Auto",
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 87,
        "y": 2010,
        "wires": [
            [
                "b2d7c800.eff538",
                "5e57d580.4007d4",
                "cead4328.7819b",
                "952f184a.4bada"
            ]
        ]
    },
    {
        "id": "ef87881f.b319c",
        "type": "inject",
        "z": "c7bd966b.a1c858",
        "name": "Auto",
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 79,
        "y": 2361,
        "wires": [
            [
                "60692841.4e378",
                "10eee764.a10a41"
            ]
        ]
    },
    {
        "id": "5011580d.8a564",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 624,
        "y": 330,
        "wires": []
    },
    {
        "id": "6ed31c81.7195f4",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/veranda/est1",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"05050401 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 367,
        "y": 349,
        "wires": [
            [
                "5011580d.8a564",
                "d743dc95.8f0a2"
            ]
        ]
    },
    {
        "id": "161ecac5.1e8d1d",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/veranda/est1 (pan fixe)",
        "info": "",
        "x": 125,
        "y": 313,
        "wires": []
    },
    {
        "id": "e848c58b.71672",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/veranda/est1",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 95,
        "y": 348,
        "wires": [
            [
                "6ed31c81.7195f4"
            ]
        ]
    },
    {
        "id": "7130aa8a.0addbc",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 627,
        "y": 425,
        "wires": []
    },
    {
        "id": "c2863746.f982e",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/veranda/est2",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"05050501 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 367,
        "y": 446,
        "wires": [
            [
                "7130aa8a.0addbc",
                "f0dd2d51.7af718"
            ]
        ]
    },
    {
        "id": "88204744.2e8b8",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/veranda/est2 (pan mobile)",
        "info": "",
        "x": 135,
        "y": 411,
        "wires": []
    },
    {
        "id": "3243de3b.b0540a",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/veranda/est2",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 95,
        "y": 445,
        "wires": [
            [
                "c2863746.f982e"
            ]
        ]
    },
    {
        "id": "4453e91b.071e3",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 624,
        "y": 519,
        "wires": []
    },
    {
        "id": "f346f8b2.099f9",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/veranda/sud1",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"05050601 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 377,
        "y": 535,
        "wires": [
            [
                "4453e91b.071e3",
                "afce1299.50d7b"
            ]
        ]
    },
    {
        "id": "3dfda1d2.af1a86",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/veranda/sud1 (pan mobile)",
        "info": "",
        "x": 135,
        "y": 499,
        "wires": []
    },
    {
        "id": "eef97960.3fbe9",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/veranda/sud1",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 95,
        "y": 534,
        "wires": [
            [
                "f346f8b2.099f9"
            ]
        ]
    },
    {
        "id": "a5fe2111.62199",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 624,
        "y": 608,
        "wires": []
    },
    {
        "id": "4e94c85.bf9b2b8",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/veranda/sud2",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"05050701 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 377,
        "y": 626,
        "wires": [
            [
                "a5fe2111.62199",
                "74fba52c.781d04"
            ]
        ]
    },
    {
        "id": "d5b9dad7.a3d708",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/veranda/sud2 (pan fixe)",
        "info": "",
        "x": 125,
        "y": 590,
        "wires": []
    },
    {
        "id": "5c9d8fa0.109e2",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/veranda/sud2",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 95,
        "y": 625,
        "wires": [
            [
                "4e94c85.bf9b2b8"
            ]
        ]
    },
    {
        "id": "1ae5a41e.21979c",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 624,
        "y": 702,
        "wires": []
    },
    {
        "id": "2aeaa285.8d0b56",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreParents/nord",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"06060101 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 397,
        "y": 720,
        "wires": [
            [
                "1ae5a41e.21979c",
                "5b2d67cb.afc39"
            ]
        ]
    },
    {
        "id": "1d10ac1d.65f544",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreParents/nord",
        "info": "",
        "x": 125,
        "y": 684,
        "wires": []
    },
    {
        "id": "af80b6e8.4ab4d",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/chambreParents/nord",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 125,
        "y": 719,
        "wires": [
            [
                "2aeaa285.8d0b56"
            ]
        ]
    },
    {
        "id": "9ee4faf1.a468d8",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 624,
        "y": 792,
        "wires": []
    },
    {
        "id": "3b83699d.e7f7d6",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/salledebain/nord",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"06060201 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 387,
        "y": 810,
        "wires": [
            [
                "9ee4faf1.a468d8",
                "79550e77.4d7d38"
            ]
        ]
    },
    {
        "id": "a5f9f3a2.a05b8",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/salledebain/nord",
        "info": "",
        "x": 105,
        "y": 774,
        "wires": []
    },
    {
        "id": "39a12f6b.f44f9",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/salledebain/nord",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 105,
        "y": 809,
        "wires": [
            [
                "3b83699d.e7f7d6"
            ]
        ]
    },
    {
        "id": "3f71a65e.3af35a",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 624,
        "y": 886,
        "wires": []
    },
    {
        "id": "4eec8d56.c702f4",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreSarah/nord",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"06060301 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 397,
        "y": 904,
        "wires": [
            [
                "3f71a65e.3af35a",
                "468b528d.b3053c"
            ]
        ]
    },
    {
        "id": "3fe2a205.327f36",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreSarah/nord",
        "info": "",
        "x": 115,
        "y": 868,
        "wires": []
    },
    {
        "id": "4512963e.24b8b",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/chambreSarah/nord",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 115,
        "y": 903,
        "wires": [
            [
                "4eec8d56.c702f4"
            ]
        ]
    },
    {
        "id": "a61bf3c.7bec59",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 624,
        "y": 984,
        "wires": []
    },
    {
        "id": "a42dba99.d03128",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreSarah/est1",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"06060401 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 387,
        "y": 1002,
        "wires": [
            [
                "a61bf3c.7bec59",
                "11a37e94.812ec1"
            ]
        ]
    },
    {
        "id": "b6ffb32f.31e8b",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreSarah/est1",
        "info": "",
        "x": 115,
        "y": 966,
        "wires": []
    },
    {
        "id": "c859b95f.ea369",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/chambreSarah/est1",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 115,
        "y": 1001,
        "wires": [
            [
                "a42dba99.d03128"
            ]
        ]
    },
    {
        "id": "e79379cc.5ee618",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 624,
        "y": 1075,
        "wires": []
    },
    {
        "id": "cfc2ab07.d6b398",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreSarah/est2",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"06060501 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 387,
        "y": 1093,
        "wires": [
            [
                "e79379cc.5ee618",
                "65407c1c.55134c"
            ]
        ]
    },
    {
        "id": "1c055d9.7237f22",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreSarah/est2",
        "info": "",
        "x": 115,
        "y": 1057,
        "wires": []
    },
    {
        "id": "adc8ca29.9ed19",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/chambreSarah/est2",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 115,
        "y": 1092,
        "wires": [
            [
                "cfc2ab07.d6b398"
            ]
        ]
    },
    {
        "id": "6836c3ec.175774",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 624,
        "y": 1164,
        "wires": []
    },
    {
        "id": "a73486cb.46f198",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreAnais/sud",
        "func": "//msg.payload = \"down\"\n//msg.payload = \"up\"\n//msg.payload = \"stop\"\nmsg.volet = msg.payload;\nmsg.topic=\"06060601 \";\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 387,
        "y": 1182,
        "wires": [
            [
                "6836c3ec.175774",
                "c7c524b7.b4a7e8"
            ]
        ]
    },
    {
        "id": "d3afb0a.27f87d",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "/Volet/chambreAnais/sud",
        "info": "",
        "x": 115,
        "y": 1146,
        "wires": []
    },
    {
        "id": "c90e3174.7b8ed",
        "type": "mqtt in",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "/Volet/chambreAnais/sud",
        "qos": "2",
        "broker": "c5b413e5.8732c",
        "x": 115,
        "y": 1181,
        "wires": [
            [
                "a73486cb.46f198"
            ]
        ]
    },
    {
        "id": "38c305ed.20be8a",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "Automatisme : volets ouverts et fermés matin et soir",
        "info": "",
        "x": 201,
        "y": 1345,
        "wires": []
    },
    {
        "id": "24e9ad71.01b1a2",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "Automatisme : volets ouverts le  matin",
        "info": "",
        "x": 169,
        "y": 1766,
        "wires": []
    },
    {
        "id": "e313e26e.121b48",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "Automatisme : volets fermés le soir",
        "info": "",
        "x": 161,
        "y": 2202,
        "wires": []
    },
    {
        "id": "e4ec5fb6.915e78",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "Répéteur",
        "func": "for (i = 0; i < 2; i++) \n{\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 1483,
        "wires": [
            [
                "77c64a89.0ad334",
                "dbc95f30.6796a",
                "a8252766.e687b8",
                "660238b1.0dd4f8",
                "797af1cb.5cacb8"
            ]
        ]
    },
    {
        "id": "77c64a89.0ad334",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 859,
        "y": 1393,
        "wires": [
            [
                "52682426.b3f31c"
            ]
        ]
    },
    {
        "id": "dbc95f30.6796a",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 857,
        "y": 1451,
        "wires": [
            [
                "5840f1e2.3d21d8"
            ]
        ]
    },
    {
        "id": "a8252766.e687b8",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 854,
        "y": 1511,
        "wires": [
            [
                "a80492bc.ebc328"
            ]
        ]
    },
    {
        "id": "660238b1.0dd4f8",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 855,
        "y": 1564,
        "wires": [
            [
                "68d7f622.c177d8"
            ]
        ]
    },
    {
        "id": "797af1cb.5cacb8",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 855,
        "y": 1617,
        "wires": [
            [
                "32d9fd8f.f9013a"
            ]
        ]
    },
    {
        "id": "a84831c8.7ae9d8",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 834,
        "y": 1911,
        "wires": [
            [
                "a8a1cc1d.c44808"
            ]
        ]
    },
    {
        "id": "558f55c4.d2578c",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 835,
        "y": 1963,
        "wires": [
            [
                "da84f53b.558c7"
            ]
        ]
    },
    {
        "id": "7b29cb2b.ab06cc",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 834,
        "y": 2012,
        "wires": [
            [
                "a0e173c1.062308"
            ]
        ]
    },
    {
        "id": "43aac2b0.c567dc",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 844,
        "y": 2175,
        "wires": [
            [
                "688c34b0.b812e4"
            ]
        ]
    },
    {
        "id": "baa3f43b.d2fec",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 841,
        "y": 2225,
        "wires": [
            [
                "a886ac34.e5063"
            ]
        ]
    },
    {
        "id": "ce34a8c8.b588d8",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 841,
        "y": 2277,
        "wires": [
            [
                "370a6c70.804864"
            ]
        ]
    },
    {
        "id": "7472eaf7.852ee4",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 842,
        "y": 2332,
        "wires": [
            [
                "a5d74d14.deaf88"
            ]
        ]
    },
    {
        "id": "4958090f.034fb8",
        "type": "delay",
        "z": "c7bd966b.a1c858",
        "name": "R 1-5",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 846,
        "y": 2389,
        "wires": [
            [
                "45dc02fc.6d721c"
            ]
        ]
    },
    {
        "id": "915ecee0.01a39",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   05050101 /Volet/cuisine/nord",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 685,
        "y": 83,
        "wires": []
    },
    {
        "id": "c00a2150.87235",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   05050201 /Volet/cuisine/est",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 676,
        "y": 176,
        "wires": []
    },
    {
        "id": "bf88f5b4.a80d88",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   05050301 /Volet/cuisine/sud",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 675,
        "y": 274,
        "wires": []
    },
    {
        "id": "d743dc95.8f0a2",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   05050401 /Volet/veranda/est1",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 684,
        "y": 373,
        "wires": []
    },
    {
        "id": "f0dd2d51.7af718",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   05050501 /Volet/veranda/est2",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 684,
        "y": 468,
        "wires": []
    },
    {
        "id": "afce1299.50d7b",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   05050601 /Volet/veranda/sud1",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 682,
        "y": 562,
        "wires": []
    },
    {
        "id": "74fba52c.781d04",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   05050701 /Volet/veranda/sud2",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 679,
        "y": 652,
        "wires": []
    },
    {
        "id": "5b2d67cb.afc39",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   06060101 /Volet/chambreParents/nord",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 713,
        "y": 744,
        "wires": []
    },
    {
        "id": "79550e77.4d7d38",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   06060201 /Volet/salledebain/nord",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 691,
        "y": 833,
        "wires": []
    },
    {
        "id": "468b528d.b3053c",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   06060301 /Volet/chambreSarah/nord",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 703,
        "y": 929,
        "wires": []
    },
    {
        "id": "11a37e94.812ec1",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   06060401 /Volet/chambreSarah/est1",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 701,
        "y": 1024,
        "wires": []
    },
    {
        "id": "65407c1c.55134c",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   06060501 /Volet/chambreSarah/est2",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 703,
        "y": 1116,
        "wires": []
    },
    {
        "id": "c7c524b7.b4a7e8",
        "type": "rfx-somfy-out",
        "z": "c7bd966b.a1c858",
        "name": "   06060601 /Volet/chambreAnais/sud",
        "port": "6e71b699.c71968",
        "topicSource": "msg",
        "topic": "",
        "x": 704,
        "y": 1207,
        "wires": []
    },
    {
        "id": "52701515.707c7c",
        "type": "http request",
        "z": "c7bd966b.a1c858",
        "name": "HTTP Week-end",
        "method": "GET",
        "ret": "txt",
        "url": "http://domobox:81/weekend/now",
        "tls": "",
        "x": 290,
        "y": 2603,
        "wires": [
            [
                "a35503c3.4db918"
            ]
        ]
    },
    {
        "id": "a35503c3.4db918",
        "type": "switch",
        "z": "c7bd966b.a1c858",
        "name": "Week-end",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "False",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 509.5,
        "y": 2603,
        "wires": [
            [
                "c9e8f690.d3f478"
            ],
            [
                "a78e5edf.fb937"
            ]
        ]
    },
    {
        "id": "c9e8f690.d3f478",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 692,
        "y": 2557,
        "wires": []
    },
    {
        "id": "a78e5edf.fb937",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 685,
        "y": 2630,
        "wires": []
    },
    {
        "id": "fbe46573.0e0ea8",
        "type": "inject",
        "z": "c7bd966b.a1c858",
        "name": "",
        "topic": "",
        "payload": "8",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 88,
        "y": 2604,
        "wires": [
            [
                "52701515.707c7c",
                "fc9dace1.344cd8"
            ]
        ]
    },
    {
        "id": "fc9dace1.344cd8",
        "type": "http request",
        "z": "c7bd966b.a1c858",
        "name": "HTTP sunrise",
        "method": "GET",
        "ret": "txt",
        "url": "http://domobox:81/sun/saint-contest/sunrise/now",
        "tls": "",
        "x": 280,
        "y": 2725,
        "wires": [
            [
                "8ff9950e.37df2"
            ]
        ]
    },
    {
        "id": "35e87c52.6926ac",
        "type": "switch",
        "z": "c7bd966b.a1c858",
        "name": "Sunrise avant 7H",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 707,
        "y": 2726,
        "wires": [
            [
                "e61dce94.454cf8"
            ],
            [
                "7f2da95e.207f08"
            ]
        ]
    },
    {
        "id": "e61dce94.454cf8",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 910,
        "y": 2704,
        "wires": []
    },
    {
        "id": "7f2da95e.207f08",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 903,
        "y": 2761,
        "wires": []
    },
    {
        "id": "2e8b3d02.c59ac2",
        "type": "debug",
        "z": "c7bd966b.a1c858",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 687,
        "y": 2778,
        "wires": []
    },
    {
        "id": "8ff9950e.37df2",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "HeureSunrise",
        "func": "//msg.payload = msg.payload.substring( 0 , 1 );\n\n//var numval = msg.payload.value || -1;\nvar heuresunrise = parseFloat(msg.payload.substring( 0 , 1 )) || -1;\n//msg.payload = numval.toFixed(2);\nmsg.payload=heuresunrise;\nreturn msg;\n\n//heure = parseint (msg.payload);\n//heure= msg.payload.value.toFixed(2);\n//heure = parseFloat(msg.payload.toFixed(1));\n//return heure;",
        "outputs": 1,
        "noerr": 0,
        "x": 476.5,
        "y": 2726,
        "wires": [
            [
                "2e8b3d02.c59ac2",
                "35e87c52.6926ac"
            ]
        ]
    },
    {
        "id": "1026079b.412658",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "Week-end",
        "info": "",
        "x": 692,
        "y": 2517,
        "wires": []
    },
    {
        "id": "1f2b75a0.e8fab2",
        "type": "comment",
        "z": "c7bd966b.a1c858",
        "name": "Semaine",
        "info": "",
        "x": 678,
        "y": 2671,
        "wires": []
    },
    {
        "id": "5e57d580.4007d4",
        "type": "bigtimer",
        "z": "c7bd966b.a1c858",
        "outtopic": "",
        "outpayload1": "up",
        "outpayload2": "",
        "name": "Volets up only week-end hivers",
        "lat": "49.213999",
        "lon": "-0.400256",
        "starttime": "5003",
        "endtime": "5004",
        "startoff": "-15",
        "endoff": "+30",
        "offs": 0,
        "outtext1": "up",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "x": 365,
        "y": 1912,
        "wires": [
            [
                "eb2643e4.956f58"
            ],
            [],
            []
        ]
    },
    {
        "id": "81fc056f.0611a8",
        "type": "bigtimer",
        "z": "c7bd966b.a1c858",
        "outtopic": "",
        "outpayload1": "up",
        "outpayload2": "down",
        "name": "Volets up & down week-end hivers",
        "lat": "49.213999",
        "lon": "-0.400256",
        "starttime": "5003",
        "endtime": "5004",
        "startoff": "-15",
        "endoff": "+30",
        "offs": 0,
        "outtext1": "up",
        "outtext2": "down",
        "timeout": 1440,
        "sun": true,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": true,
        "fri": false,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "x": 357,
        "y": 1472,
        "wires": [
            [
                "e4ec5fb6.915e78"
            ],
            [],
            []
        ]
    },
    {
        "id": "fc431aa7.43891",
        "type": "bigtimer",
        "z": "c7bd966b.a1c858",
        "outtopic": "",
        "outpayload1": "up",
        "outpayload2": "down",
        "name": "Volets up & down week été",
        "lat": "49.213999",
        "lon": "-0.400256",
        "starttime": "435",
        "endtime": "5004",
        "startoff": "0",
        "endoff": "+30",
        "offs": 0,
        "outtext1": "up",
        "outtext2": "down",
        "timeout": 1440,
        "sun": false,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": false,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "x": 337,
        "y": 1543,
        "wires": [
            [
                "e4ec5fb6.915e78"
            ],
            [],
            []
        ]
    },
    {
        "id": "385a22b1.6149f6",
        "type": "bigtimer",
        "z": "c7bd966b.a1c858",
        "outtopic": "",
        "outpayload1": "up",
        "outpayload2": "down",
        "name": "Volets up & down week-end été",
        "lat": "49.213999",
        "lon": "-0.400256",
        "starttime": "480",
        "endtime": "5004",
        "startoff": "-15",
        "endoff": "+30",
        "offs": 0,
        "outtext1": "up",
        "outtext2": "down",
        "timeout": 1440,
        "sun": true,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": true,
        "fri": false,
        "sat": true,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "x": 348,
        "y": 1616,
        "wires": [
            [
                "e4ec5fb6.915e78"
            ],
            [],
            []
        ]
    },
    {
        "id": "cead4328.7819b",
        "type": "bigtimer",
        "z": "c7bd966b.a1c858",
        "outtopic": "",
        "outpayload1": "up",
        "outpayload2": "",
        "name": "Volets up only week été",
        "lat": "49.213999",
        "lon": "-0.400256",
        "starttime": "435",
        "endtime": "5004",
        "startoff": "0",
        "endoff": "+30",
        "offs": 0,
        "outtext1": "up",
        "outtext2": "",
        "timeout": 1440,
        "sun": false,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": false,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "x": 343,
        "y": 1995,
        "wires": [
            [
                "eb2643e4.956f58"
            ],
            [],
            []
        ]
    },
    {
        "id": "952f184a.4bada",
        "type": "bigtimer",
        "z": "c7bd966b.a1c858",
        "outtopic": "",
        "outpayload1": "up",
        "outpayload2": "",
        "name": "Volets up only week-end été",
        "lat": "49.213999",
        "lon": "-0.400256",
        "starttime": "480",
        "endtime": "5004",
        "startoff": "0",
        "endoff": "+30",
        "offs": 0,
        "outtext1": "up",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": true,
        "jan": false,
        "feb": false,
        "mar": false,
        "apr": false,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": false,
        "oct": false,
        "nov": false,
        "dec": false,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "x": 347,
        "y": 2073,
        "wires": [
            [
                "eb2643e4.956f58"
            ],
            [],
            []
        ]
    },
    {
        "id": "eb2643e4.956f58",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "Répéteur",
        "func": "for (i = 0; i < 2; i++) \n{\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 624,
        "y": 1956,
        "wires": [
            [
                "a84831c8.7ae9d8",
                "558f55c4.d2578c",
                "7b29cb2b.ab06cc"
            ]
        ]
    },
    {
        "id": "10eee764.a10a41",
        "type": "bigtimer",
        "z": "c7bd966b.a1c858",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "down",
        "name": "Volets down only hivers",
        "lat": "49.213999",
        "lon": "-0.400256",
        "starttime": "5003",
        "endtime": "5004",
        "startoff": "-15",
        "endoff": "+10",
        "offs": 0,
        "outtext1": "",
        "outtext2": "down",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": false,
        "jun": false,
        "jul": false,
        "aug": false,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "x": 326,
        "y": 2358,
        "wires": [
            [
                "e2c7a77f.d6069"
            ],
            [],
            []
        ]
    },
    {
        "id": "e2c7a77f.d6069",
        "type": "function",
        "z": "c7bd966b.a1c858",
        "name": "Répéteur",
        "func": "for (i = 0; i < 2; i++) \n{\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 597,
        "y": 2307,
        "wires": [
            [
                "43aac2b0.c567dc",
                "baa3f43b.d2fec",
                "ce34a8c8.b588d8",
                "7472eaf7.852ee4",
                "4958090f.034fb8"
            ]
        ]
    },
    {
        "id": "c5b413e5.8732c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "domobox",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": ""
    },
    {
        "id": "6e71b699.c71968",
        "type": "rfxtrx-port",
        "port": "/dev/ttyUSB0"
    }
]