node-red-flow/status-mqtt-sonde-node-red-flow.txt
[
    {
        "id": "db311664.5b79e",
        "type": "tab",
        "label": "Status_Sonde"
    },
    {
        "id": "fdba7bbe.f5a758",
        "type": "comment",
        "z": "db311664.5b79e",
        "name": "Status sonde sur topic /+/status",
        "info": "",
        "x": 138.5,
        "y": 37,
        "wires": []
    },
    {
        "id": "7933bbf.39e75c4",
        "type": "mqtt in",
        "z": "db311664.5b79e",
        "name": "Status /+/status",
        "topic": "/+/status",
        "qos": "0",
        "broker": "9aed70de.28a338",
        "x": 85.5,
        "y": 128,
        "wires": [
            [
                "2ad76907.aa6586",
                "6c50b5e1.2b016c"
            ]
        ]
    },
    {
        "id": "2ad76907.aa6586",
        "type": "debug",
        "z": "db311664.5b79e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 199,
        "y": 214,
        "wires": []
    },
    {
        "id": "11ad60e.7ff649f",
        "type": "adv ping",
        "z": "db311664.5b79e",
        "name": "ping sonde",
        "host": "",
        "x": 492.5,
        "y": 130,
        "wires": [
            [
                "546a3685.7de558",
                "d9f5e530.4f2178"
            ]
        ]
    },
    {
        "id": "546a3685.7de558",
        "type": "debug",
        "z": "db311664.5b79e",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 476,
        "y": 209,
        "wires": []
    },
    {
        "id": "6c50b5e1.2b016c",
        "type": "function",
        "z": "db311664.5b79e",
        "name": "hostname sonde",
        "func": "var dataStr = msg.payload;\n\n//if individual node selected - the destination id should be last part of topic\n\n//split msg by /\nvar tokens = msg.topic.split(\"/\");\n\ncontext.sysname = tokens[1];\nmsg.host = context.sysname;\n    node.status({text:msg.host});\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 288.5,
        "y": 129,
        "wires": [
            [
                "11ad60e.7ff649f"
            ]
        ]
    },
    {
        "id": "d9f5e530.4f2178",
        "type": "switch",
        "z": "db311664.5b79e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 676,
        "y": 130,
        "wires": [
            [
                "fec7b495.e4cfb8"
            ],
            [
                "e8daee7d.4c89f"
            ]
        ]
    },
    {
        "id": "5d152fe0.82a048",
        "type": "comment",
        "z": "db311664.5b79e",
        "name": "ping KO",
        "info": "",
        "x": 679,
        "y": 83,
        "wires": []
    },
    {
        "id": "2bbd80d6.08ff6",
        "type": "comment",
        "z": "db311664.5b79e",
        "name": "Anti-Spam",
        "info": "",
        "x": 949,
        "y": 84,
        "wires": []
    },
    {
        "id": "fec7b495.e4cfb8",
        "type": "delay",
        "z": "db311664.5b79e",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "hours",
        "rate": "5",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 831,
        "y": 130,
        "wires": [
            [
                "5ef7ff63.2fc658"
            ]
        ]
    },
    {
        "id": "5ef7ff63.2fc658",
        "type": "delay",
        "z": "db311664.5b79e",
        "name": "",
        "pauseType": "rate",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "10",
        "rateUnits": "day",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1022,
        "y": 130,
        "wires": [
            [
                "8d188221.483b7"
            ]
        ]
    },
    {
        "id": "8d188221.483b7",
        "type": "template",
        "z": "db311664.5b79e",
        "name": "Ping message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Sonde {{topic}} indisponible ! ",
        "x": 1198,
        "y": 130,
        "wires": [
            [
                "371ae949.8822f6",
                "75a179fa.e3a1e8"
            ]
        ]
    },
    {
        "id": "de133347.d846d",
        "type": "comment",
        "z": "db311664.5b79e",
        "name": "Construction du message",
        "info": "",
        "x": 1214,
        "y": 34,
        "wires": []
    },
    {
        "id": "424a9d61.91e23c",
        "type": "comment",
        "z": "db311664.5b79e",
        "name": "Transmission",
        "info": "",
        "x": 1376,
        "y": 82,
        "wires": []
    },
    {
        "id": "371ae949.8822f6",
        "type": "e-mail",
        "z": "db311664.5b79e",
        "server": "smtp.gmail.com",
        "port": "465",
        "name": "coyotte14@gmail.com",
        "dname": "Email Alert",
        "x": 1374,
        "y": 131,
        "wires": []
    },
    {
        "id": "c1da75af.8a58",
        "type": "comment",
        "z": "db311664.5b79e",
        "name": "Hostname Sonde",
        "info": "",
        "x": 286,
        "y": 83,
        "wires": []
    },
    {
        "id": "edef90ea.2c43d",
        "type": "comment",
        "z": "db311664.5b79e",
        "name": "ping Hostname Sonde",
        "info": "",
        "x": 506,
        "y": 37,
        "wires": []
    },
    {
        "id": "7285e56b.d5fff4",
        "type": "comment",
        "z": "db311664.5b79e",
        "name": "ping OK",
        "info": "",
        "x": 663,
        "y": 256,
        "wires": []
    },
    {
        "id": "e8daee7d.4c89f",
        "type": "delay",
        "z": "db311664.5b79e",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "hours",
        "rate": "5",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 826,
        "y": 253,
        "wires": [
            [
                "b30023c7.1e4e78"
            ]
        ]
    },
    {
        "id": "b30023c7.1e4e78",
        "type": "delay",
        "z": "db311664.5b79e",
        "name": "",
        "pauseType": "rate",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "10",
        "rateUnits": "day",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1017,
        "y": 253,
        "wires": [
            [
                "a65a84c.27b2178"
            ]
        ]
    },
    {
        "id": "a65a84c.27b2178",
        "type": "template",
        "z": "db311664.5b79e",
        "name": "Ping message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Serveur {{topic}} connexion MQTT indisponible ! ",
        "x": 1193,
        "y": 253,
        "wires": [
            [
                "371ae949.8822f6",
                "75a179fa.e3a1e8"
            ]
        ]
    },
    {
        "id": "75a179fa.e3a1e8",
        "type": "debug",
        "z": "db311664.5b79e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1403,
        "y": 187,
        "wires": []
    },
    {
        "id": "5169dcff.a02fbc",
        "type": "comment",
        "z": "db311664.5b79e",
        "name": "Test MQTT indisponible",
        "info": "mosquitto_pub -t /T-Veranda/status -m \"7\"\nmosquitto_pub -t /T-Salon/status -m \"hs\"\nmosquitto_pub -t /P-Garage1/status -m \"ok\"",
        "x": 107,
        "y": 265,
        "wires": []
    },
    {
        "id": "9aed70de.28a338",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.1.40",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]